<div class="problems dark wrapper">
  <div class="container withPadding">
    <h3 class="problems__title subtitle">Проблемы, с которыми я работаю</h3>
    <div class="problems__info">
      <div class="problems__problem">
        <img src="./assets/img/career.svg" alt="" class="problems__img" />
        <p class="problems__name">
          Карьерный <br />
          консалтинг
        </p>
      </div>
      <div class="problems__problem">
        <img src="./assets/img/self.svg" alt="" class="problems__img" />
        <p class="problems__name">
          Работа <br />
          с самооценкой
        </p>
      </div>
      <div class="problems__problem">
        <img src="./assets/img/family.svg" alt="" class="problems__img" />
        <p class="problems__name">
          Проблемы <br />
          в семье
        </p>
      </div>
      <div class="problems__problem">
        <img src="./assets/img/depression.svg" alt="" class="problems__img" />
        <p class="problems__name">
          Выход <br />
          из депрессии
        </p>
      </div>
    </div>
  </div>
</div>
