<div id="about" class="about wrapper">
  <div class="container withPadding">
    <h3 class="about__title subtitle">Обо мне</h3>

    <!-- <img class="about__background" src="./assets/img/background.png" alt="" /> -->
    <div class="about__blocks">
      <img src="./assets/img/photo_about1.png" alt="" class="about__photo" />
      <div class="about__paper text">
        <div class="about__name">Меня зовут Ольга Латынцева</div>
        <p class="about__text">
          Я прошла большой путь от женщины с неустроенной личной жизнью до
          семейного психолога, преподавателя вуза и ТВ-эксперта. Я
          специализируюсь на помощи парам, которые испытывают сложности в
          отношениях. Помогаю сохранить семьи, пережить измены, снова зажечь
          искру, найти ключ в общении с детьми и родственниками. Помогаю пройти
          мягко бракоразводный процесс и снова обрести счастье. Иногда тяжелые,
          по мнению клиентов, ситуации решаются буквально за несколько
          индивидуальных консультаций.
        </p>
      </div>
      <div class="about__paper join">
        <p class="about__text big">
          Я готова присоединиться к вам на любой стадии происходящего и оказать
          эффективную помощь и поддержку!
        </p>
      </div>
    </div>
  </div>
</div>
