<footer class="footer dark">
  <div class="container withPadding">
    <div class="box footer__info">
      <p class="footer__occupation">Семейный психолог</p>
      <p class="footer__name">Ольга Латынцева</p>
    </div>
    <div class="box">
      <div class="footer__contacts flex">
        <div class="footer__phone">
          <img src="./assets/img/phone.png" alt="" />
          <a class="hover" href="tel:+79062389933">+7 (906) 238 9933</a>
        </div>
        <div class="footer__address">
          <img src="./assets/img/location.png" alt="" />
          <a
            class="hover"
            target="_blank"
            href="https://yandex.ru/maps/-/CHq55AYw"
            >Москва, ул. Мясницкая 46, стр 1</a
          >
        </div>
      </div>
      <div class="footer__copyright">
        <span id="year"></span> © Психолог Ольга Латынцева. Все права защищены
      </div>
    </div>
  </div>
</footer>
