<header class="header dark">
  <div class="container flex space-between align-center">
    <ul class="header__nav flex">
      <li class="nav__item hover">
        <a class="scrollTo" href="#about">С чем я работаю</a>
      </li>
      <li class="nav__item hover">
        <a class="scrollTo" href="#reviews">Отзывы</a>
      </li>
      <li class="nav__item hover">
        <a class="scrollTo" href="#signup">Контакты</a>
      </li>
      <li class="nav__item hover">
        <a class="scrollTo" href="#">Программы</a>
      </li>
    </ul>
    <a
      href="https://yandex.ru/maps/-/CHq55AYw"
      target="_blank"
      class="header__location hover"
    >
      <img src="./assets/img/location.png" alt="" />
      Москва, ул. Мясницкая 46, стр 1
    </a>

    <div class="header__socials">
      <a
        href="https://api.whatsapp.com/send/?phone=79062389933&text&type=phone_number&app_absent=0"
        target="_blank"
        class="header__social hover"
      >
        <img src="./assets/img/wa.png" alt="" />
      </a>
      <a
        href="https://viber.click/79062389933"
        target="_blank"
        class="header__social hover"
      >
        <img src="./assets/img/viber.png" alt="" />
      </a>
      <a
        href="https://t.me/olgalatynceva"
        target="_blank"
        class="header__social hover"
      >
        <img src="./assets/img/tg.png" alt="" />
      </a>
    </div>
    <a href="tel:+79062389933" class="header__phone hover">+7 (906) 238 9933</a>
    <!-- <button
      aria-label="#signup"
      class="button blue header__button mobile scrollTo"
    >
      Записаться
    </button> -->
    <div class="header__socials special">
      <a
        href="https://api.whatsapp.com/send/?phone=79062389933&text&type=phone_number&app_absent=0"
        target="_blank"
        class="header__social hover"
      >
        <img src="./assets/img/wa.png" alt="" />
      </a>
      <a
        href="https://viber.click/79062389933"
        target="_blank"
        class="header__social hover"
      >
        <img src="./assets/img/viber.png" alt="" />
      </a>
      <a
        href="https://t.me/olgalatynceva"
        target="_blank"
        class="header__social hover"
      >
        <img src="./assets/img/tg.png" alt="" />
      </a>
    </div>
    <button class="header__mob hover">
      <img src="./assets/img/menu_mob.png" alt="" />
    </button>
  </div>
  <div class="header__mobile-block container">
    <a
      href="https://yandex.ru/maps/-/CHq55AYw"
      target="_blank"
      class="header__location special hover"
    >
      <img src="./assets/img/location.png" alt="" />
      Москва, Мясницкая 46, стр 1
    </a>
  </div>
</header>
