<div id="how" class="about-mentor wrapper dark">
  <div class="container withPadding">
    <h3 class="about-mentor__title subtitle">Как проходит обучение</h3>

    <div class="about-mentor__blocks">
      <div class="about-mentor__facts">
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">10 практический занятий</div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Домашние задания с обратной связью
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Разбор вашей текущей стратегии продвижения для выявления сильных
            сторон и точек роста
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Навыки работы со СМИ для создания личного бренда
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Общий чат поддержки участников, где вы сможете обмениваться опытом,
            задавать вопросы и получать обратную связь
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Создание контент плана для социальных сетей
          </div>
        </div>
      </div>
      <div class="about-mentor__want">
        <h2 class="about-mentor__sub">
          Хочешь <br />
          подробнее узнать о программе?
        </h2>
        <button
          aria-label="#signup"
          class="button blue banner__button scrollTo"
        >
          Пройти диагностику
        </button>
      </div>
    </div>
  </div>
</div>
