<div class="lecturer wrapper dark">
  <div class="container withPadding">
    <h3 class="lecturer__title subtitle">Преподавательская деятельность</h3>
    <div class="lecturer__info">
      <div class="lecturer__item">
        <img src="./assets/img/lmu.png" alt="" class="lecturer__avatar" />
      </div>
      <div class="lecturer__item">
        <img src="./assets/img/sinergy.png" alt="" class="lecturer__avatar" />
      </div>
      <div class="lecturer__item">
        <img src="./assets/img/mip.png" alt="" class="lecturer__avatar" />
      </div>
    </div>
  </div>
</div>
