<div class="sidebar">
  <div class="sidebar__underlay"></div>
  <div class="sidebar__side">
    <button class="sidebar__close hover">
      <img src="./assets/img/close.png" class="closeIcon" alt="" />
    </button>
    <ul class="sidebar__menu">
      <li class="sidebar__item hover">
        <a class="scrollTo" href="#who">Для кого подойдет</a>
      </li>
      <li class="sidebar__item hover">
        <a class="scrollTo" href="#how">Как проходит обучение</a>
      </li>
      <li class="sidebar__item hover">
        <a class="scrollTo" href="#what">Конечный результат</a>
      </li>
      <li class="sidebar__item hover">
        <a class="scrollTo" href="#results">Отзывы</a>
      </li>
    </ul>

    <a
      href="https://yandex.ru/maps/-/CHq55AYw"
      target="_blank"
      class="sidebar__address hover"
    >
      <img src="./assets/img/location.png" alt="" />
      Москва, Мясницкая 46, стр 1
    </a>

    <div class="sidebar__socials">
      <a
        href="https://api.whatsapp.com/send/?phone=79062389933&text&type=phone_number&app_absent=0"
        target="_blank"
        class="sidebar__social hover"
      >
        <img src="./assets/img/wa.png" alt="" />
      </a>
      <a
        href="https://viber.click/79062389933"
        target="_blank"
        class="sidebar__social hover"
      >
        <img src="./assets/img/viber.png" alt="" />
      </a>
      <a
        href="https://t.me/olgalatynceva"
        target="_blank"
        class="sidebar__social hover"
      >
        <img src="./assets/img/tg.png" alt="" />
      </a>
    </div>
  </div>
</div>
