<div class="mb dark wrapper">
  <div class="container withPadding">
    <div class="mb__top">
      <!-- <include src="./src/components/tile.html"></include> -->
      <div class="mb__box wider">
        <h2 class="mb__title">Наставничество для студентов</h2>
        <h1 class="mb__subtitle">Программа для психологов</h1>
      </div>
      <img class="mb__leftGrid" src="./assets/img/left.png" alt="" />
      <img class="mb__rightGrid" src="./assets/img/right.png" alt="" />

      <picture>
        <source media="(max-width: 799px)" srcset="./assets/img/qwe.png" />
        <source
          media="(min-width: 900px)"
          srcset="./assets/img/mentoring_banner_desktop.png"
        />
        <img
          class="mb__img mentor"
          src="./assets/img/mentoring_banner_desktop.png"
        />
      </picture>
      <button
        aria-label="#signup"
        class="button blue mb__button mobile scrollTo"
      >
        Записаться
      </button>
    </div>

    <div class="mb__facts grid">
      <div class="fact grid__author flex">
        <div>
          <span class="fact__title">Автор Ольга Латынцева,</span>
          <p class="fact__text">практикующий семейный психолог</p>
        </div>

        <button
          aria-label="#signup"
          class="button blue mb__button desktop scrollTo"
        >
          Записаться
        </button>
      </div>
      <div class="mb__group">
        <div class="fact grid__start">
          <span class="fact__title">10 марта</span>
          <p class="fact__text">Старт программы</p>
        </div>
        <div class="fact grid__duration">
          <span class="fact__title">2 месяца</span>
          <p class="fact__text">Продолжительность</p>
        </div>
      </div>
    </div>
  </div>
</div>
