<div id="about" class="about-mentor wrapper dark">
  <div class="container withPadding">
    <h3 class="about-mentor__title subtitle">Обо мне</h3>

    <div class="about-mentor__blocks">
      <img
        src="./assets/img/about-mentor.png"
        alt=""
        class="about-mentor__photo"
      />
      <div class="about-mentor__facts">
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Лучший психолог Москвы по рейтингу Яндекса — свыше 500 положительных
            отзывов
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">Более 12 лет успешной практики</div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Член Ассоциации спикеров СНГ (CIS Speakers Association)
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Создатель собственной онлайн Школы по Самооценке
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Спикер площадок: «Сколково», «Моя карьера», «РосМолодежь»,
            Государственная Дума
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Тренер по коммуникациям в команде известного эксперта Радислава
            Гандапаса
          </div>
        </div>
        <div class="about-mentor__fact">
          <div class="about-mentor__icon"></div>
          <div class="about-mentor__text">
            Постоянный и приглашенный эксперт на федеральных телеканалах: Первый
            канал, НТВ, ТВЦ, ТНТ, МузТВ, Пятница
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
