<div id="signup" class="signup mentoring blue wrapper">
  <div class="container withPadding">
    <div class="signup__container">
      <div class="signup__box">
        <h3 class="signup__title subtitle">
          Получите мини курс о наставничестве
        </h3>
        <p class="signup__small">
          Заполните форму и получите бесплатный мини курс на почту
        </p>
        <form action="" class="signup__form" name="sinup" id="signup">
          <input
            type="text"
            name="name"
            class="signup__input"
            placeholder="Ваше имя"
          />
          <input
            type="text"
            name="phone"
            class="signup__input"
            placeholder="Почта"
          />
          <button class="signup__submit button" type="submit">Получить</button>
        </form>
      </div>
      <!-- <div class="signup__box">
        <a href="mailto:info@olgalatynceva.ru" class="signup__social button">
          <img src="./assets/img/mail.png" class="signup__social-icon" alt="" />
          info@olgalatynceva.ru</a
        >
        <a
          href="https://t.me/olgalatynceva"
          target="_blank"
          class="signup__social button"
        >
          <img src="./assets/img/tg.png" class="signup__social-icon" alt="" />
          @olgalatynceva</a
        >
        <a
          href="tel:+79062389933"
          target="_blank"
          class="signup__social button mobile"
        >
          <img
            src="./assets/img/phone.png"
            class="signup__social-icon"
            alt=""
          />
          +7 (906) 238 9933</a
        >
      </div> -->
    </div>
  </div>
</div>
