<div class="photos dark wrapper">
  <div class="container withPadding">
    <h3 class="photos__title subtitle">Фото с моих мероприятий</h3>
    <div class="photos__grid">
      <div class="photos__column">
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Имя человека</p>
            <p class="photos__text">
              Небольшой пояснительный текст о фотографии
            </p>
          </div>
          <img src="./assets/img/photo_1.png" alt="" class="photos__photo" />
        </div>
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Имя человека</p>
            <p class="photos__text">
              Небольшой пояснительный текст о фотографии
            </p>
          </div>
          <img src="./assets/img/photo_2.png" alt="" class="photos__photo" />
        </div>
      </div>
      <div class="photos__column">
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Имя человека</p>
            <p class="photos__text">
              Небольшой пояснительный текст о фотографии
            </p>
          </div>
          <img src="./assets/img/photo_2.png" alt="" class="photos__photo" />
        </div>
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Имя человека</p>
            <p class="photos__text">
              Небольшой пояснительный текст о фотографии
            </p>
          </div>
          <img src="./assets/img/photo_4.png" alt="" class="photos__photo" />
        </div>
      </div>
      <div class="photos__column">
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Имя человека</p>
            <p class="photos__text">
              Небольшой пояснительный текст о фотографии
            </p>
          </div>
          <img src="./assets/img/photo_1.png" alt="" class="photos__photo" />
        </div>
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Имя человека</p>
            <p class="photos__text">
              Небольшой пояснительный текст о фотографии
            </p>
          </div>
          <img src="./assets/img/photo_2.png" alt="" class="photos__photo" />
        </div>
      </div>
      <div class="photos__column">
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Имя человека</p>
            <p class="photos__text">
              Небольшой пояснительный текст о фотографии
            </p>
          </div>
          <img src="./assets/img/photo_2.png" alt="" class="photos__photo" />
        </div>
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Имя человека</p>
            <p class="photos__text">
              Небольшой пояснительный текст о фотографии
            </p>
          </div>
          <img src="./assets/img/photo_4.png" alt="" class="photos__photo" />
        </div>
      </div>
    </div>
  </div>
</div>
