<div class="photos dark wrapper">
  <div class="container withPadding">
    <h3 class="photos__title subtitle">Фото с моих мероприятий</h3>
    <div class="photos__grid">
      <div class="photos__column">
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Аврора</p>
            <p class="photos__text">
              Телеведущая, бьюти-эксперт, актриса кино.
            </p>
          </div>
          <img
            src="./assets/img/gallery/aurora.jpg"
            alt=""
            class="photos__photo"
          />
        </div>
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Сбербанк</p>
            <p class="photos__text">Круглый стол</p>
          </div>
          <img src="./assets/img/gallery/2.jpg" alt="" class="photos__photo" />
        </div>
      </div>
      <div class="photos__column">
        <div class="photos__item">
          <div class="photos__description">
            <!-- <p class="photos__name">Имя человека</p> -->
            <p class="photos__text">
              Участие на круглом столе в государственной думе.
            </p>
          </div>
          <img
            src="./assets/img/gallery/duma.jpg"
            alt=""
            class="photos__photo"
          />
        </div>
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Оскар Кучера</p>
            <p class="photos__text">
              Актёр театра, кино, телевидения, озвучивания и дубляжа,
              театральный режиссёр, певец, музыкант, теле- и радиоведущий.
            </p>
          </div>
          <img
            src="./assets/img/gallery/oscar.jpg"
            alt=""
            class="photos__photo"
          />
        </div>
      </div>
      <div class="photos__column">
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Анна Седокова и Анна Семенович</p>
            <p class="photos__text">Телеведущие, певицы.</p>
          </div>
          <img
            src="./assets/img/gallery/sem.jpg"
            alt=""
            class="photos__photo"
          />
        </div>
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Василий Шуров</p>
            <p class="photos__text">
              главный врач, врач-нарколог, психиатр, психотерапевт, один из
              самых опытных и известных психиатров-наркологов в Москве и России.
            </p>
          </div>
          <img
            src="./assets/img/gallery/doc.png"
            alt=""
            class="photos__photo"
          />
        </div>
      </div>
      <div class="photos__column">
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Дмитрий Борисов</p>
            <p class="photos__text">
              Журналист, ведущий «Первого канала», генеральный продюсер компании
              «Первый канал. Всемирная сеть», ведущий программы «Пусть говорят».
            </p>
          </div>
          <img
            src="./assets/img/gallery/borisov.jpg"
            alt=""
            class="photos__photo"
          />
        </div>
        <div class="photos__item">
          <div class="photos__description">
            <p class="photos__name">Пресс-конференция</p>
            <p class="photos__text">в национальной службе новостей.</p>
          </div>
          <img
            src="./assets/img/gallery/press.jpg"
            alt=""
            class="photos__photo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
