<div class="prices dark wrapper">
  <div class="container withPadding">
    <h3 class="prices__title subtitle">Стоимость консультаций</h3>
    <div class="prices__info">
      <div class="prices__box">
        <h4 class="prices__subtitle">Консультация семейного психолога</h4>
        <p class="prices__text">
          Мы совместно диагностируем вашу ситуацию. Найдем пути решения и
          создадим условия, при которых данная ситуация больше не возникнет.
        </p>
      </div>
      <div class="prices__box">
        <p class="prices__price">8 000 рублей</p>
        <button
          aria-label="#signup"
          class="prices__button button blue scrollTo"
        >
          Записаться на консультацию
        </button>
      </div>
    </div>
  </div>
</div>
