<div class="signup blue wrapper">
  <div class="container withPadding">
    <div class="signup__container">
      <div class="signup__box">
        <h3 class="signup__title subtitle">
          Запишитесь на первую консультацию
        </h3>
        <form action="" class="signup__form" name="sinup" id="signup">
          <input
            type="text"
            name="name"
            class="signup__input"
            placeholder="Ваше имя"
          />
          <input
            type="text"
            name="phone"
            class="signup__input"
            placeholder="Телефон"
          />
          <button class="signup__submit button" type="submit">
            Записаться на консультацию
          </button>
        </form>
      </div>
      <div class="signup__box">
        <a href="mailto:info@olgalatynceva.ru" class="signup__social button">
          <img src="./assets/img/mail.png" class="signup__social-icon" alt="" />
          info@olgalatynceva.ru</a
        >
        <a href="" target="_blank" class="signup__social button">
          <img src="./assets/img/tg.png" class="signup__social-icon" alt="" />
          @olgalatynceva</a
        >
      </div>
    </div>
  </div>
</div>
