<div class="tile">
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <div class="tile__block"></div>
  <!-- <svg
    width="1921"
    height="880"
    viewBox="0 0 1921 880"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <mask
      id="mask0_1_25"
      style="mask-type: alpha"
      maskUnits="userSpaceOnUse"
      x="-140"
      y="0"
      width="2201"
      height="880"
    >
      <g opacity="0.1">
        <rect
          x="-139.42"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="80.5801"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="300.58"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="520.58"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="740.58"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="960.58"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1180.58"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1400.58"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1620.58"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1840.58"
          y="0.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="-139.42"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="80.5801"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="300.58"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="520.58"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="740.58"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="960.58"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1180.58"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1400.58"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1620.58"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1840.58"
          y="220.5"
          width="219"
          height="219"
          rx="7.5"
          fill="url(#paint0_linear_1_25)"
          stroke="white"
        />
        <rect
          opacity="0.2"
          x="-139.42"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="80.5801"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="300.58"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="520.58"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="740.58"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="960.58"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1180.58"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1400.58"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1620.58"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1840.58"
          y="440.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          opacity="0.2"
          x="-139.42"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="80.5801"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="300.58"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="520.58"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="740.58"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="960.58"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1180.58"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1400.58"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1620.58"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
        <rect
          x="1840.58"
          y="660.5"
          width="219"
          height="219"
          rx="7.5"
          stroke="white"
        />
      </g>
    </mask>
    <g mask="url(#mask0_1_25)">
      <g opacity="0.6" filter="url(#filter0_f_1_25)">
        <rect
          x="105.239"
          y="-76.299"
          width="1258.71"
          height="1258.71"
          rx="629.356"
          fill="white"
        />
      </g>
      <g opacity="0.6" filter="url(#filter1_f_1_25)">
        <rect
          x="998.441"
          y="126.028"
          width="1258.71"
          height="1258.71"
          rx="629.356"
          fill="white"
        />
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_1_25"
        x="-294.761"
        y="-476.299"
        width="2058.71"
        height="2058.71"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"
        />
        <feGaussianBlur
          stdDeviation="200"
          result="effect1_foregroundBlur_1_25"
        />
      </filter>
      <filter
        id="filter1_f_1_25"
        x="598.441"
        y="-273.972"
        width="2058.71"
        height="2058.71"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"
        />
        <feGaussianBlur
          stdDeviation="200"
          result="effect1_foregroundBlur_1_25"
        />
      </filter>
      <linearGradient
        id="paint0_linear_1_25"
        x1="1950.08"
        y1="220"
        x2="1950.08"
        y2="440"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="white" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
    </defs>
  </svg> -->
</div>
