<div class="banner dark wrapper">
  <div class="container withPadding">
    <div class="banner__top">
      <!-- <include src="./src/components/tile.html"></include> -->
      <div class="banner__box">
        <h2 class="banner__prof">Семейный психолог</h2>
        <h1 class="banner__name">Ольга Латынцева</h1>
        <button
          aria-label="#signup"
          class="button blue banner__button desktop scrollTo"
        >
          Записаться на консультацию
        </button>
      </div>
      <img class="banner__leftGrid" src="./assets/img/left_grid.png" alt="" />
      <img class="banner__rightGrid" src="./assets/img/right_grid.png" alt="" />

      <picture>
        <source media="(max-width: 799px)" srcset="./assets/img/olga.png" />
        <source media="(min-width: 900px)" srcset="./assets/img/banner.png" />
        <img
          class="banner__img"
          src="./assets/img/banner.png"
          alt="Chris standing up holding his daughter Elva"
        />
      </picture>
      <!-- <img class="banner__img" src="./assets/img/banner2.jpg" alt="" />

      <img src="./assets/img/olga.png" alt="" class="banner__img-mobile" /> -->
      <button
        aria-label="#signup"
        class="button blue banner__button mobile scrollTo"
      >
        Записаться на консультацию
      </button>
    </div>

    <div class="banner__facts">
      <div class="fact">
        <span class="fact__title">10 лет</span>
        <p class="fact__text">Опыт успешного консультирования</p>
      </div>
      <div class="fact">
        <span class="fact__title">150 отзывов</span>
        <p class="fact__text">Положительных. <br />Рейтинг 5.0 на картах</p>
      </div>
      <div class="fact">
        <span class="fact__title">100 семей</span>
        <p class="fact__text">Создала и укрепила за это время</p>
      </div>
    </div>
  </div>
</div>
