<div class="videos wrapper">
  <div class="container withPadding">
    <h3 class="videos__title subtitle">Новые видео с моим участием</h3>
    <div class="videos__box">
      <div class="videos__slider">
        <div class="videos__slide">
          <video
            src="./assets/videos/1.mp4"
            class="videos__video"
            controls=""
            controlslist="nodownload"
          ></video>
          <div class="videos__name">Эфир с Марикой на Пятнице</div>
        </div>
        <div class="videos__slide">
          <video
            src="./assets/videos/2.mp4"
            class="videos__video"
            controls=""
            controlslist="nodownload"
          ></video>
          <div class="videos__name">Эфир на Муз-ТВ</div>
        </div>
        <div class="videos__slide">
          <video
            src="./assets/videos/3.mp4"
            class="videos__video"
            controls=""
            controlslist="nodownload"
          ></video>
          <div class="videos__name">Эфир на ТВЦ</div>
        </div>
      </div>
    </div>
  </div>
</div>
