<div id="what" class="what wrapper dark">
  <div class="container withPadding">
    <h3 class="what__title subtitle">Что вы получите в результате</h3>
    <div class="what__wrapper">
      <div class="what__box">
        <div class="what__item">
          <div class="what__number">01</div>
          <div class="what__text">
            Пошаговую стратегию привлечения клиентов без постоянных усилий.
          </div>
        </div>
        <div class="what__item">
          <div class="what__number">02</div>
          <div class="what__text">
            Навыки увеличения чека и работы с ценностью ваших услуг.
          </div>
        </div>
        <div class="what__item">
          <div class="what__number">03</div>
          <div class="what__text">
            Инструменты для создания личного бренда, который будет привлекать
            клиентов автоматически.
          </div>
        </div>
      </div>
      <div class="what__box">
        <div class="what__item">
          <div class="what__number">04</div>
          <div class="what__text">
            Поддержку наставника, который поможет вам преодолеть страхи,
            сомнения и выйти на новый уровень профессионализма.
          </div>
        </div>
        <div class="what__item">
          <div class="what__number">05</div>
          <div class="what__text">
            Практические рекомендации по выходу на высокий доход и
            масштабированию практики.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
