<div id="who" class="who wrapper">
  <div class="container withPadding">
    <h3 class="who__title subtitle">Для кого подойдёт</h3>
    <div class="who__box">
      <div class="who__item">
        <div class="who__number">01</div>
        <div class="who__text">
          Для психологов, которые хотят выстроить стабильный поток клиентов
        </div>
      </div>
      <div class="who__item">
        <div class="who__number">02</div>
        <div class="who__text">
          Для тех, кто мечтает работать за высокий чек и хочет повысить
          стоимость своих консультаций
        </div>
      </div>
      <div class="who__item">
        <div class="who__number">03</div>
        <div class="who__text">
          Для тех, кто постоянно собирает дипломы и считает, что этого не
          достаточно для успешной практики
        </div>
      </div>
      <div class="who__item">
        <div class="who__number">04</div>
        <div class="who__text">
          Для специалистов, уставших от бесконечного поиска клиентов и желающих
          автоматизировать процесс привлечения
        </div>
      </div>
      <div class="who__item">
        <div class="who__number">05</div>
        <div class="who__text">
          Для тех, кто стремится выйти на доход от 100 000 рублей и выше, а в
          перспективе — достичь 1 000 000 рублей в месяц в частной практике
        </div>
      </div>
    </div>
  </div>
</div>
