:root {
  --black-500: #313131;
  --blue-500: #394bdb;
  --yellow-500: #f9f871;
  --black-400: rgba(49, 49, 49, 0.8);
  --black-300: rgba(49, 49, 49, 0.5);
  --black-200: rgba(49, 49, 49, 0.2);
  --black-100: #f6f6f6;
  --blue-400: #8290ff;
  --blue-300: #b0b7f1;
}
:root {
  --font-family: "Lack", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "SF Pro", sans-serif;
}
