@use "media";

.reviews {
  padding-top: 60px;
  padding-bottom: 200px;

  &__title {
    color: #fff;
    margin-bottom: 40px;

    @include media.desktop {
      font-size: 80px;
      text-align: center;
      max-width: 800px;
      margin: 0 auto 70px auto;
    }
  }
}
